@import "variables";

@mixin border {
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

.btn {
	font-size: 20px;
	font-weight: 700;
	width: 150px;
	text-transform: uppercase;
	padding: 12px 30px 12px 30px;
	border: none;
	border-color: $pink-base;
	color: $white-base;
	background-color: $pink-base;
	@include border;
}

.btn:hover {
	@include border;
	border-color: $pink-darker;
	background-color: $pink-darker;
}

.btn:active {
	@include border;
	border-color: $white-base;
	color: $white-base;
	background-color: transparent;
}
