@import "variables";

@mixin border {
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

.btn {
	font-size: 20px;
	font-weight: 700;
	width: 90%;
	text-transform: uppercase;
	padding: 12px 30px 12px 30px;
	border: none;
	border-color: $white-base;
	color: $green-darken;
	background-color: $white-base;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	@include border;
}

.btn:hover {
	@include border;
	border-color: $green-darken;
	background-color: $green-darken;
	color: $white-base;
}

.btn:active {
	@include border;
	border-color: $white-base;
	color: $white-base;
	background-color: transparent;
}
