@import "variables";

.navbar {
	font-size: 18px;
	font-weight: 700;
	height: 100vh;
	background-color: $green-base;
	color: $white-base;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 200px;
	align-items: center;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	text-align: center;
}

.navbarItem {
	margin-top: 16px;
	flex-grow: 1;
	margin-top: 100px;
}

.navbarItem h1 {
	text-transform: uppercase;
}
